body {
    font-family: sans-serif;
}

header {
    background-color: red;
    color: white;
    text-align: center;
}

ul {
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: darkred;
    color: white;
}
